<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EatBetter</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Katalog Restaurant" />
    <meta name="keywords" content="Cindy" />
    <link rel="icon" href="/yo.jpg" />
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/icons/192x192.png" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>  
  </head>

  <body>
    <!-- skip-link -->
    <a href="#main-content" class="skip-link">Go to main content</a>
    
    <!-- header -->
    <header class="hero">
      <!-- nav comp -->
      <nav-bar></nav-bar>

      <!-- hero comp -->
      <hero-content class="hero__text"></hero-content>
    </header>

    <!-- main content -->
    <main id="main-content" tabindex="0"></main>

    <!-- footer comp -->
    <footer-part></footer-part>
  </body>
</html>